<md-dialog aria-label="Keep It"  ng-cloak style="max-width:800px; max-height:810px; width:85%;">
    <form name="addNoteForm" ng-submit="addNote(note)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Keep it</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/close.svg" aria-label="Cerrar diálogo"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container>
                    <label>Title</label>
                    <input ng-model="note.title">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="note.description" columns="1" md-maxlength="150" rows="5"></textarea>
                </md-input-container>
                <md-input-container>
                    <label>Url</label>
                    <input ng-model="note.url">
                </md-input-container>
                <center>
                    <md-button class="md-fab md-mini md-secondary">
                        <md-icon md-svg-src="img/icons/send.svg" aria-label="send"></md-icon>
                    </md-button>
                </center>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
