<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Keet This Please</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Github" href="http://github.com/svzosorio/ktp" target="_blank">
          <md-icon md-svg-icon="img/icons/github-circle.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Compartir" ng-click="vm.share($event)">
          <md-icon md-svg-icon="img/icons/share.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
<md-content>
    <md-card ng-repeat="item in vm.notes">
        <md-card-content>
            <h2 class="md-title">{{item.title}}</h2>
            <p>
                {{item.description}}
            </p>
        </md-card-content>
    </md-card>
</md-content>
<md-button class="md-fab md-warn" aria-label="Add" style="position: fixed; bottom: 8px; right: 10px;" ng-click="vm.addNote($event)">
    <md-icon md-svg-src="img/icons/plus.svg"></md-icon>
</md-button>
