<md-bottom-sheet class="md-list md-has-header" ng-cloak>
  <md-subheader>Compartir</md-subheader>
  <md-list>
    <md-list-item>
      <md-button
          class="md-list-item-content" href="https://twitter.com/home?status=Keep%20This%20Please,%20example%20make%20with%20%40itsbooljs%20http%3A//svzosorio.co/KTP" target="_blank">
        <md-icon md-svg-src="img/icons/twitter-box.svg" style="color: #4099FF;"></md-icon>
        <span class="md-inline-list-icon-label">Twitter</span>
      </md-button>
      <md-button class="md-list-item-content" href="https://www.facebook.com/sharer/sharer.php?u=svzosorio.co/ktp" target="_blank" >
        <md-icon md-svg-src="img/icons/facebook-box.svg" style="color: #3B5998;"></md-icon>
        <span class="md-inline-list-icon-label">Facebook</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
